<div class="strixhaven-board-container">
    <h2><i class="fas fa-university"></i> {{boardTitle}}</h2>
    
    <div class="header-controls">
        {{!-- Filter auf der linken Seite --}}
        <div class="filter-row">
            <span>Selected:</span>
            <select class="course-filter">
                <option value="all" {{#if isGlobal}}selected{{/if}}>All courses</option>
                {{#each allCourses}}
                <option value="{{this}}" {{#if (eq ../currentFilter this)}}selected{{/if}}>{{this}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- Downtime Tracker auf der rechten Seite --}}
        <div class="downtime-tracker">
            <div class="downtime-bar-container">
                <div class="downtime-bar" style="width: {{downtimePercent}}%"></div>
                <span class="downtime-text">{{downtimeCurrent}} / {{downtimeMax}} Cycles</span>
            </div>
            
            {{#if isGM}}
            <div class="downtime-admin">
                <a class="downtime-control" data-action="sub" title="Minus 1"><i class="fas fa-minus"></i></a>
                <a class="downtime-control" data-action="add" title="Plus 1"><i class="fas fa-plus"></i></a>
                <a class="downtime-control" data-action="set-max" title="Maximum einstellen"><i class="fas fa-cog"></i></a>
                <a class="downtime-control" data-action="reset" title="Reset"><i class="fas fa-sync"></i></a>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="ranking-list">
        {{#each students}}
        <div class="student-row">
            <div class="rank">
                {{add @index 1}}
                <i class="fas fa-trophy ranking-icon"></i>
            </div>

            <img src="{{this.img}}" class="student-img">
            
            <div class="student-info">
                <span class="name">{{this.name}}</span>
                <span class="score">
                    <strong>{{this.score}}</strong> 
                    {{#if ../isGlobal}}Gesamtpunkte{{else}}Punkte in {{../currentFilter}}{{/if}}
                </span>
            </div>
            
            {{#if isGM}}
            <div class="admin-controls">
                <a class="edit-student" data-actor-id="{{this.id}}"><i class="fas fa-edit"></i></a>
                <a class="delete-student" data-actor-id="{{this.id}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>